/* Basics */
.basics-page {
    background-color: var(--color-background);
}

.basics-page .columns {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    width: 75%;
    padding-top: 50px;
    margin: 0 auto;
}

.basics-page .column {
    flex: 1; 
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid var(--color-white);
    background-color: var(--color-blue);
    padding: 20px;
    margin-bottom: 20px;
    min-height: 200px;
}

.basics-page .column h2 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px; 
}

.basics-page .column p {
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.5; 
}

.basics-page .image-gallery {
    display: flex; 
    justify-content: center; 
    margin-top: 40px; 
}

.basics-page .gallery-item {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    margin: 0 20px; 
}

.basics-page .gallery-image {
    width: 200px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 10px;
    margin: 0; 
}

.basics-page .gallery-item p {
    margin-bottom: 10px; 
    font-size: 15px;
}

.basics-page .gallery-item:last-child {
    margin-bottom: 30px; 
}