.footer-divider {
    width: 90%; 
    height: 2px;
    background-color: var(--color-footer); 
    border: none; 
    margin: 30px auto 0; 
}

.logo-image {
    width: 200px;
    height: 100px;
    margin-top: -30px;
    object-fit: contain;
    margin-bottom: -50px;
}

.logo-bottom {
    text-align: center;
    margin: 10px 0; 
}