#img-prev-section {
    display: flex;
}

#img-prev {
    width: 150px; 
    max-width: 700px; 
    height: 100px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto;
  }

#edit-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .w3-modal-content {
    border-radius: 8px;
    padding: 20px;
    width: 90%; 
    max-width: 500px; 
    animation: fadeIn 0.3s ease-in-out;
  }

  #dialog-close {
    font-size: 1.5em;
    cursor: pointer;
    color: black;
    float: right;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }